@model SistemaCalidadAire.Cliente.Models.DashboardModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool usuarioExterno = SistemaCalidadAire.Cliente.Utilities.Data.UsuarioExterno;
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<script>
    var listaRegistros = [];
    var valoresGraficaTemp = [];
    var valoresGraficaPM2 = [];
</script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    @if (!usuarioExterno)
    {
        <a href="@Url.Action("GenerarExcelReporteAsync", "Home")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte
        </a>
    }
</div>


<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Temperatura
                        </div>
                        <div id="lbl_temperatura" class="h5 mb-0 font-weight-bold text-gray-800">---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Humedad (%)
                        </div>
                        <div id="lbl_humedad" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Presión</div>
                        <div id="lbl_presion" class="h5 mb-0 font-weight-bold text-gray-800">---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Material particulado PM2.5</div>
                        <div id="lbl_materiaParticulado25" class="h5 mb-0 font-weight-bold text-gray-800">---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Material particulado PM1.0</div>
                        <div id="lbl_materiaParticulado10" class="h5 mb-0 font-weight-bold text-gray-800">---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">
    <div class="col-md-6">
        <table id="tablaDispositivos" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Altitud</th>
                    @if (!usuarioExterno)
                    {
                        <th>Geo</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (SistemaCalidadAire.Entidades.Device item in Model.ListaDispositivos)
                {
                    <tr>
                        <td>@Ajax.ActionLink("Ver detalle", "DetalleQualityDataAsync", new { idDevice = item.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "contenedorModal", OnBegin = "Loader()", OnSuccess = "abrirModal()", OnComplete = "UnLoader()" })</td>
                        <td>@item.name</td>
                        <td>@item.altitude</td>
                        @if (!usuarioExterno)
                        {
                            <td>@item.geo</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>

<!-- Area Chart -->
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4 mt-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Temperatura a lo largo del año</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="graficaTemperatura"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Area Chart -->
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4 mt-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Material particulado a lo largo del año</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="graficaMaterialPM2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_Detalle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Quality Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="contenedorModal" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuRc-nTWhmnXGplXZSf6QdU3NiGOooRIc&callback=initMap&libraries=&v=weekly" async></script>

@foreach (SistemaCalidadAire.Entidades.Device item in Model.ListaDispositivos)
{
    <script>
        var geolocalizacion = '@item.geo'.split(', ');

        var registro = ['@item.id', '@item.name', Number(geolocalizacion[0]), Number(geolocalizacion[1])];
        listaRegistros.push(registro);
    </script>
}

@for (int i = 1; i < 12; i++)
{
    SistemaCalidadAire.Entidades.DataGrafica itemTemp = Model.ListaTemperaturas.Where(w => w.Id == i).FirstOrDefault();
    if (itemTemp != null)
    {
        <script>
            valoresGraficaTemp.push(@itemTemp.Valor)
        </script>
    }
    else
    {
        <script>
            valoresGraficaTemp.push(0);
        </script>
    }

    SistemaCalidadAire.Entidades.DataGrafica itemPM2 = Model.ListaPM2.Where(w => w.Id == i).FirstOrDefault();
    if (itemPM2 != null)
    {
        <script>
            valoresGraficaPM2.push(@itemPM2.Valor)
        </script>
    }
    else
    {
        <script>
            valoresGraficaPM2.push(0);
        </script>
    }
}

@section scripts {

    <script>

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        $(document).ready(function () {
            $('#tablaDispositivos').DataTable({
                "paging": false,
                //"scrollX": true,
                "columnDefs": [{
                    "targets": [0],
                    "orderable": false
                }]
            });

            new Chart(document.getElementById("graficaTemperatura"), {
                type: 'line',
                data: {
                    labels: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                    datasets: [{
                        label: "Temperatura",
                        data: valoresGraficaTemp,
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 12
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    return number_format(value) + '°';
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + '°';
                            }
                        }
                    }
                }
            });

            new Chart(document.getElementById("graficaMaterialPM2"), {
                type: 'bar',
                data: {
                    labels: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                    datasets: [{
                        label: "Temperatura",
                        data: valoresGraficaPM2,
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 12
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    return number_format(value) + '°';
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + '°';
                            }
                        }
                    }
                }
            });
        });

        function initMap() {
            const myLatLng = { lat: 4.711064299685776, lng: -74.07473130095026 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: myLatLng,
            });

            listaRegistros.forEach(function (element) {
                new google.maps.Marker({
                    position: { lat: element[2], lng: element[3] },
                    map,
                    title: element[1],
                }).addListener('click', function () {

                    Loader();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ConsultarInfoDeviceAsync", "Home")',
                        datatype: 'json',
                        data: { idDevice: element[0] },
                        success: function (data) {
                            $("#lbl_temperatura").html(data.temp);
                            $("#lbl_humedad").html(data.rh);
                            $("#lbl_presion").html(data.pressure);
                            $("#lbl_materiaParticulado10").html(data.particle1);
                            $("#lbl_materiaParticulado25").html(data.particle2);
                            UnLoader();
                        },
                        error: function () {
                            UnLoader();
                        }
                    });
                });
            });
        }

        function abrirModal() {
            $('#modal_Detalle').modal();
        }

    </script>
}